* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #fbfbfb;
}
.header-phone {
  color: #1f1f24;
  font-size: 25px;
  font-weight: 700;
  padding: 0 15px;
  text-decoration: none;
}
.header-button {
  margin: 0 15px;
}
.nav-item a {
  color: #1f1f24;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
}
.nav-item a:hover {
  text-decoration: none;
  outline: 1px solid #fc557c;
  color: #fc557c;
}
.nav-item a:focus {
  text-decoration: none;
  outline: 1px solid #fc557c;
  background-color: #fc557c;
  color: white;
}
